[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "~=0.9.53"
opencv-python = "~=4.5.5.64"
mss = "~=6.1.0"
toml = "*"

[dev-packages]

[requires]
python_version = "3.11"
